body {
    font-family: sans-serif;
    background-color: #ec407a; /* Un rosa acceso come sfondo */
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}