body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #212529;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.Container {
  background-color: white;
  color: #333;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.input-dati {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input-dati label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-dati input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  margin-top: 20px;
}
